<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div>
            <span class="brand">Image Colorization</span>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to our Image Colorization App!</h1>
        
        <h2>Procedure:</h2>
        <ol>
            <li>Upload your black and white image.</li>
            <li>Click on the "Colorize" button to get the colorized image.</li>
        </ol>
        <a href="{{ url_for('colorize') }}" class="btn">Get Started</a>
    </div>
</body>
</html>
